@using Majd_Web.ViewModels
@model JobApplicationViewModel

<meta charset="utf-8" />
<!--<meta name=description content="This site was generated with Anima. www.animaapp.com"/>-->
<!-- <link rel="shortcut icon" type=image/png href="https://animaproject.s3.amazonaws.com/home/favicon.png" /> -->
<meta name="viewport" content="width=1440, maximum-scale=1.0" />
<link rel="shortcut icon" type="image/png" href="https://animaproject.s3.amazonaws.com/home/favicon.png" />
<meta name="og:type" content="website" />
<meta name="twitter:card" content="photo" />
<link rel="stylesheet"
      type="text/css"
      href="~/css/u1578u1601u1575u1589u1610u1604-u1575u1604u1608u1592u1610u1601u1577.css" />
<link rel="stylesheet" type="text/css" href="~/css/styleguide.css" />
<link rel="stylesheet" type="text/css" href="~/css/globals.css" />

<body style="margin: 0; background: #ffffff">
    <input type="hidden"
           id="anPageName"
           name="page"
           value="u1578u1601u1575u1589u1610u1604-u1575u1604u1608u1592u1610u1601u1577" />
    <div class="container-center-horizontal">
        <div class="u1578u1601u1575u1589u1610u1604-u1575u1604u1608u1592u1610u1601u1577 screen">
            <div class="overlap-group3">
              
                <div class="frame-1190-1 frame-1190-3">
                    <div class="frame-1190-2 frame-1190-3">
                        <div class="text-253 text-1 cairo-bold-smalt-blue-20px">@Model.Job.Title</div>
                    </div>
                    <div class="frame-15446">
                        <div class="frame-15434 cairo-12">
                            <div class="frame-154">
                                <div class="text-2 text-1">@Model.Job.JobType</div>
                                <img class="frame-15440" src="~/img/frame-15440-6.svg" alt="Frame 15440" />
                            </div>
                        </div>
                        <div class="frame-15445">
                            <div class="frame-15444">
                                <a href="@Url.Action("Joblist", new { id = Model.Job.UserId })" class="text-1-3 text-1-5">@Model.Job.User.OrganizationName</a>
                                <div class="text-2-3 text-2-5 cairo-12">@Model.Job.Location</div>
                            </div>
                            <img class="rectangle-4774-2 rectangle-4774-3" src="~/img/user2.png" alt="Rectangle 4774" />
                        </div>
                    </div>
                    <div class="frame-15453">
                        <div class="frame-1191"><div class="text-258 text-1 cairo-16-b">عن الوظيفة</div></div>
                        <div class="frame-15449">

                            @if (!string.IsNullOrEmpty(Model.Job.Description))
                            {
                                <div class="frame-154-2 frame-154-3">
                                    <div class="frame-119">
                                        <div class="text-2-4 text-2-5 cairo-medium-trendy-pink-13px">وصف عن الشركة</div>
                                    </div>
                                    <div class="frame-1192">
                                        <p class="text cairo-12"> @Model.Job.Description  </p>
                                    </div>
                                </div>
                            }

                            @if (!string.IsNullOrEmpty(Model.Job.RoleDescription))
                            {
                                <div class="frame-154-2 frame-154-3">
                                    <div class="frame-119">
                                        <div class="text-2-4 text-2-5 cairo-medium-trendy-pink-13px">وصف الدور</div>
                                    </div>
                                    <div class="frame-1192">
                                        <p class="text cairo-12">@Model.Job.RoleDescription </p>
                                    </div>
                                </div>
                            }

                            @if (!string.IsNullOrEmpty(Model.Job.Responsibilities))
                            {
                                <div class="frame-154-2 frame-154-3">
                                    <div class="frame-119">
                                        <div class="text-2-4 text-2-5 cairo-medium-trendy-pink-13px">المسؤوليات الرئيسية</div>
                                    </div>
                                    <div class="frame-1192">
                                        <p class="text cairo-12"> @Model.Job.Responsibilities </p>
                                    </div>
                                </div>
                            }

                            @if (!string.IsNullOrEmpty(Model.Job.Qualification))
                            {
                                <div class="frame-154-2 frame-154-3">
                                    <div class="frame-119">
                                        <div class="text-2-4 text-2-5 cairo-medium-trendy-pink-13px">المؤهلات</div>
                                    </div>
                                    <div class="frame-1192">
                                        <p class="text cairo-12"> @Model.Job.Qualification </p>
                                    </div>
                                </div>
                            }

                            @if (!string.IsNullOrEmpty(Model.Job.Requirements))
                            {
                                <div class="frame-154-2 frame-154-3">
                                    <div class="frame-119">
                                        <div class="text-2-4 text-2-5 cairo-medium-trendy-pink-13px">المتطلبات</div>
                                    </div>
                                    <div class="frame-1192">
                                        <p class="text cairo-12"> @Model.Job.Requirements </p>
                                    </div>
                                </div>
                            }

                            @if (!string.IsNullOrEmpty(Model.Job.ReasonsToJoin))
                            {
                                <div class="frame-154-2 frame-154-3">
                                    <div class="frame-119">
                                        <div class="text-2-4 text-2-5 cairo-medium-trendy-pink-13px">لماذا تنضم إلينا؟</div>
                                    </div>
                                    <div class="frame-1192">
                                        <p class="text cairo-12">@Model.Job.ReasonsToJoin </p>
                                    </div>
                                </div>
                            }
                            <div class="frame-154-2 frame-154-3">
                                <div class="frame-119">
                                    <div class="text-2-4 text-2-5 cairo-medium-trendy-pink-13px">عدد المتقدمين للوظيفة:</div>
                                </div>
                                <div class="frame-1192">
                                    <p class="text cairo-12">@Model.Job.ApplicationsCount</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="frame-1212">

                        @{
                            if (User.IsInRole("Alumni"))
                            {  if (Model.JobApplications.Any(a => a.User.UserName == User.Identity.Name && a.hasApplied))
                                {
                                    <div class="text-26 text-1 cairo-medium-star-dust-14px">تم التقديم بنجاح!</div>
                                }
                                else
                                {
                                    <form method="post" action="@Url.Action("Apply", "Job", new { id = Model.Job.Id })">
                                        <button type="submit" class="button">
                                            <div class="text-26 text-1 cairo-medium-white-14px">قدّم الآن</div>
                                        </button>
                                    </form>

                                }}

                        }
                        <a href="@Url.Action("JobList",new { id = Model.Job.UserId })" class="button-1">
                            <div class="text-26 text-1 cairo-medium-star-dust-14px">إلغاء</div>
                        </a>
                        @if (User.IsInRole("Employer"))
                        {
                            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                <a href="@Url.Action("Applicants","Job", new { id = Model.Job.Id })" class="btn btn-outline-light">

                                    <div class="text-2-4 text-2-5 cairo-medium-trendy-pink-13px">قائمة المتقدمين</div>
                                </a>

                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>