@using Majd_Web.ViewModels
@model JobListViewModel
@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager
@using Majd_Web.Models;

<link rel="stylesheet"
      type="text/css"
      href="~/css/u1606u1588u1585-u1575u1604u1593u1585u1590-u1575u1604u1608u1592u1610u1601u1610.css" />

<link rel=”stylesheet” href=”https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css” />

<link rel="stylesheet"
      type="text/css"
      href="~/css/u1608u1592u1575u1610u1620u1601-u1575u1604u1588u1585u1603u1577-2.css" />
<link rel="stylesheet" type="text/css" href="~/css/styleguide.css" />
<link rel="stylesheet" type="text/css" href="~/css/globals.css" />

<body>
    @{
        var user = await UserManager.FindByEmailAsync(User.Identity.Name);
    }
    <input type="hidden"
           id="anPageName"
           name="page"
           value="u1608u1592u1575u1610u1620u1601-u1575u1604u1588u1585u1603u1577-2" />
    <div class="container-center-horizontal">
        <div class="u1608u1592u1575u1610u1620u1601-u1575u1604u1588u1585u1603u1577-2 screen">
            <div class="flex-row flex">
                <div class="overlap-group2">
                    <div class="frame-1179">
                        @{
                            <partial name="_news" />

                        }
                    </div>
                </div>
                <div class="flex-col flex">
                    <div class="modal">
                        <div class="frame-15417">
                            <div class="frame-15416">
                                <div class="overlap-group">
                                    <img class="rectangle" src="~/img/rectangle-.png" alt="Rectangle " />
                                </div>
                            </div>
                            <div class="frame-1229">
                                <div class="frame-1227">
                                    <div class="frame-1161">
                                        <div class="modal-header">
                                            <div class="text-114 text cairo-bold-smalt-blue-20px">شركـة @Model.User.OrganizationName </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="frame-container">
                        <div class="frame-15443 cairo-12">

                            @if (Model != null)
                            {
                                @foreach (var job in Model.Jobs)
                                {

                                    <div class="frame-15436">
                                        <div class="frame-15434">
                                            <div class="frame-154">
                                                <div class="text-1-1 text-1-5">@job.JobType</div>
                                                <i class="bi bi-chevron-contract"></i>
                                            </div>
                                            <div class="frame-154">
                                                @if (Model.User.UserName == User.Identity.Name)
                                                {
                                                    <form asp-action="DeleteJob" method="post" style="display: inline;">
                                                        @Html.Hidden("jobId", job.Id)
                                                        @Html.Hidden("userId", job.UserId)
                                                        <button type="submit" class="btn btn-sm btn-outline-danger">حذف</button>
                                                    </form>
                                                }
                                            </div>
                                        </div>
                                        <div class="frame-15435">
                                            <div class="frame-1-1">
                                                <div class="frame-15432">
                                                    <div class="text-1-2 text-1-5 cairo-16-b">@job.Title</div>
                                                    @if (job.User != null)
                                                    {
                                                        <div class="text-1-3 text-1-5">@job.User.OrganizationName</div>
                                                    }
                                                </div>
                                                <div class="frame-154">

                                                    <div class="text-1-4 text-1-5">@job.Location</div>
                                                    <i class="bi bi-globe-americas"></i>
                                                </div>
                                                <div class="frame-154">

                                                    <a href="@Url.Action("JobDetails", new { id = job.Id  })" class="cairo-medium-trendy-pink-13px">تفاصيل</a>
                                                    <i class="bi bi-ticket-detailed"></i>

                                                </div>
                                            </div>
                                            <img class="rectangle-4774" src="~/img/user2.png" alt="Rectangle 4774" />

                                        </div>

                                    </div>
                                }
                            }

                        </div>
                        @if (Model != null)
                        {
                            @if (User.Identity.Name == Model.User.UserName)
                            {
                                <div class="frame-1192">
                                    <div class="frame-12">
                                        <div class="frame-1190">
                                            <div class="text-117 text cairo-semi-bold-trendy-pink-14px">
                                                <a asp-area="" asp-controller="Profile" asp-action="EmployerInfo" class="btn btn-primary form-control text-11 text cairo-semi-bold-trendy-pink-14px">
                                                    معلومات الشــركة
                                                </a>
                                            </div>
                                        </div>
                                        <div class="frame-12">
                                            <div class="frame-1190">
                                                <div class="text-117 text cairo-semi-bold-trendy-pink-14px">
                                                    <a asp-action="JobList" class="btn btn-primary form-control text-11 text cairo-semi-bold-trendy-pink-14px">
                                                        عروضك الوظيفية
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="frame-12">
                                            <div class="frame-1190">
                                                <div class="text-117 text cairo-semi-bold-trendy-pink-14px">

                                                    <a asp-action="CreateJobOffer" class="btn btn-primary form-control text-11 text cairo-semi-bold-trendy-pink-14px">
                                                        وظّف الآن
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />

    }
}